.highlight {
  position: relative;
  overflow: hidden;
}

.highlight::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  background-color: #ebc989;
  left: 0;
  bottom: 10px;
  overflow: hidden;
  transform: skew(-20deg);
  z-index: -1;
}
